* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000cd;
  color: #40f608;
  font-size: 32px;
  text-align: center;
  margin-top: 20vh;
}
